# This is an example config file meant to serve as a start for you to generate your own
defaults:
  - _self_
  - hydra: settings

mode: training
geodataset: lynker_hydrofabric
name: ddr-v${oc.env:DDR_VERSION,dev}-${geodataset}-${mode}
np_seed: 1
seed: 0
device: 7
s3_region: us-east-2

data_sources:
  attributes: /projects/mhpi/data/icechunk/hydrofabric_v2.2_attributes
  geospatial_fabric_gpkg: "DOWNLOAD THE FILE FROM https://www.lynker-spatial.com/data/hydrofabric/v2.2/conus/"
  conus_adjacency: ./../data/hydrofabric_v2.2_conus_adjacency.zarr
  gages_adjacency: ./../data/hydrofabric_v2.2_gages_conus_adjacency.zarr
  statistics: ./../data/statistics
  streamflow: /path/to/icechunk/hydrofabric_v2.2_dhbv_retrospective
  observations: /path/to/icechunk/usgs/observations
  gages: ./../streamflow_datasets/gage_info/dhbv2_gages.csv

params:
  save_path: ./

experiment:
  batch_size: 64
  start_time: 1981/10/01
  end_time: 1995/09/30
  epochs: 5
  learning_rate: {
      1: 0.005,
      3: 0.001
  }
  rho: 365
  shuffle: true
  warmup: 3

kan:
  hidden_size: 11
  input_var_names:
    - glaciers
    - aridity
    - meanelevation
    - meanP
    - log_uparea
  num_hidden_layers: 1
  learnable_parameters:
  - n
  - q_spatial
  grid: 3
  k: 3
