name: ddr-v${oc.env:DDR_VERSION,dev}-plots
mode: routing
geodataset: lynker_hydrofabric
data_sources:
  geospatial_fabric_gpkg: ./../../data/conus_nextgen.gpkg
  conus_adjacency: ./../../data/conus_adjacency.zarr
  statistics: ./../../data/

np_seed: 1
seed: 0
device: 0

params:
  save_path: ./model

kan:
  hidden_size: 11
  input_var_names:
    - glaciers
    - aridity
    - meanelevation
    - meanP
    - log_uparea
  num_hidden_layers: 1
  learnable_parameters:
  - n
  - q_spatial
  grid: 3
  k: 3
